services:
  p4-server:
    container_name: ${SERVER_CONTAINER_NAME}
    build:
      context: ../../server
      dockerfile: Dockerfile
    depends_on:
      - geoserver
      - postgres
    restart: unless-stopped
    environment:
      - SPRING_DATASOURCE_HOST=${POSTGRES_CONTAINER_NAME}
      - SPRING_DATASOURCE_DATABASE=${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - PROPERTIES_CLIENTHOST=${SERVER_CLIENTHOST}
    volumes:
      - ./layers.json:/app/server/src/main/resources/geoserver/layers.json

  p4-client:
    container_name: ${CLIENT_CONTAINER_NAME}
    build:
      context: ../../client
      dockerfile: Dockerfile
    volumes:
      - p4-volume-client:/app/client/dist
      - ./.env.production:/app/client/.env.production
      - ./vue.config.js:/app/client/vue.config.js
      - ./layers.json:/app/client/src/components/map-viewer/config-files/layers.json

  p4-nginx:
    container_name: ${NGINX_CONTAINER_NAME}
    build:
      context: ../nginx
      dockerfile: nginx.dockerfile
    depends_on:
      p4-client:
        condition: service_completed_successfully
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/nginx.conf
      - p4-volume-client:/app/client/dist
    ports:
      - "84:80"     
    restart: unless-stopped

volumes:
  p4-volume-client:
